@import "mainStyle";

img{

  width:200px;
  height: 200px;
}

.game{

  text-align: center;
  background-color: #8BC6DD;
  display: block;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 1px solid black;
}

.game h3{
  margin:0;
  margin-top: 8px;
  margin-bottom: -12px;
}