

$bgColor: #2E2E30;


body {
  display: flex;
  flex-direction: column;
  background-color: $bgColor;
}

.spaceship {
  float: left;
 }
header {
  background-color: #2E2E30;
  color: white;
  float: left;
}

ul {
  list-style-type: none;
  margin: 45px;
  padding: 0;
}

li {
  display: inline;
  margin: 15px;
  font-size: 25px;
}
li a {
  color: #fff;
  width: 60px;
  text-decoration: none;

}

main {
  flex: 1;
}
